td.file-size {
	color: #6a737d;
	text-align: right;
}

td.file-download {
	padding-left: 10px !important;
	text-align: center;
}

.Header .container-lg.gh-container,
.container.gh-container {
	max-width: 1440px;
	width: 1440px;
}
